<%-include("./partials/header.ejs")%>
<%-include("./partials/navbar.ejs")%>
<main class="main">
    <!-- Page Title Start -->
    <div class="main-h1-div">
        <h1 class="main-h1"><%= user.userName %>'s List</h1>
        <h2 class="main-h3"><%= user.userName %> has <%= left %> items left to buy.</h2>
    </div>
    <!-- Page Title End -->
    <!-- Grocery Item Container Start -->
    <div class="grocery-item-container">
                <% groceryItems.forEach( (el) => { %>
                    <div class="grocery-item groceryItemItem" data-id='<%=el._id%>'>
                        
                        <div class="del grocery-item-delete">
                           <p >Delete</p>
                        </div>
                        <div class="grocery-item-name">
                            <span class='<%= el.completed === true ? 'completed' : 'not'%>'>
                                <h3><%= el.groceryItem %></h3></span>
                        </div>
                     
                            <button class="increaseQuantityBtn"><img class="quanity-btn-img" src="/img/up.png"></button>
                        <p>Quantity: <%= el.quantity %></p>
                        <button class="decreaseQuantityBtn"><img class="quanity-btn-img" src="/img/down.png"></button>
                       

                    </div>
                <% }) %>    
        </div>
    </div>
    <!-- Grocery Item Container End -->
    <!-- Add New Item Start -->
    <div class="add-item-div">
        <h3> Add New Item</h3>
        <form class="add-item-form" action="/groceryItems/createGroceryItem" method='POST'>
            <input type="text" placeholder="Enter Item Name" name='groceryItemItem'>
            <input type="number" placeholder="Enter Quantity" min="1" name="groceryItemNum"> 
            <button type="submit" class="submit-btn"><p>Submit</p></button> 
        </form>
    </div>
    <!-- Add New Item End -->
</main>
<script src="js/main.js"></script>
<!-- <%-include("./partials/footer.ejs")%> -->

   