<%-include("./partials/header.ejs")%>
<%-include("./partials/navbar.ejs")%>
    <h1>Reset Password</h1>
    <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
    <div class="alert alert-danger"><%= el.msg %></div>
    <% }) %> <% } %> <% if (locals.messages.info) { %> <% messages.info.forEach(
    el => { %>
    <div class="alert alert-danger"><%= el.msg %></div>
    <% }) %> <% } %>
    <form action="/reset" method="POST">
      <input type="email" name="email" placeholder="Email" />
      <input type="password" name="password" placeholder="Old Password" />
      <input type="password" name="newPassword" placeholder="New Password" />
      <input
        type="password"
        name="confirmNewPassword"
        placeholder="Confirm New Password"
      />
      <input type="submit" />
    </form>
    <%-include("./partials/footer.ejs")%>
